@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F8F8F8;
  padding-top: 43.7px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 120px;
  color: #E8E8E8;
  font-weight: 700;
  letter-spacing: -30;
}

h2 {
  font-size: 100px;
  letter-spacing: -7px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.6px;
  font-weight: 700;
  line-height: 1.2px;
  margin-bottom: 2rem;
}

h4 {
  font-size: 100px;
  letter-spacing: -9px;
  font-weight: 700;
  color: #2B2A2A;
  line-height: 60px;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;

}

.description {
  font-size: 22px
}

.small-desc {
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  font-weight: 300;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 1.2rem 3.8rem;
  border-width: 0.5px;
  border-style: solid;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(211, 211, 211, 0.26);
}

li {
  margin-bottom: 0;
}

ul {
  margin-bottom: 2rem;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;

}

.prenav {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

.mobileNav {
  display: none;
}

header .phoneNum span {
  font-weight: 800;
}

.socialWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.socialIconsPrenav:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.navigationDesktop {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileLogo {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  color: #ebebeb;
}

/* 
.navigation {
  position: absolute;
  z-index: 9999;
  top:6%;
  right: 1%;
  display: flex;
  justify-content: end;
  align-items: center;
} */

.dropdownBtnWrapper {
  position: relative;
  overflow: visible;
}

.dropdownContentCont {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 200px;
}

.dropdownContentCont li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.dropdownContentCont a {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.dropdownContentCont a:hover {
  transform: scale(1.1);

}

footer {
  background-color: #2B2A2A;
  color: #F8F8F8;
  padding: 1rem 0;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e82e;
  padding: 0.5rem 1rem 0;
}

.bottomFooterLeftSide {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.topFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.topFooter h3 {
  color: #dcdcdc;
  margin-bottom: 0.5rem;
}

.topFooter p {
  color: #727171;
}

.footerBtn {
  background-color: #f9f9f9;
  color: #2B2A2A;
}

.footerBtn:hover {
  border-color: #f9f9f9;
  color: #f9f9f9;
}

.hero {
  background-image: url('../public/back3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  padding: 0 12%;
  position: relative;
  display: flex;
  align-items: center;
}

.heroSubtitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: #b9b9b9;
  letter-spacing: -1
}

.lightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 100vh;
}

.lightSectionDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
  /* Allow clicks to pass through */
}

.darkSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 100vh;
  background: radial-gradient(circle at 70%, #4A494A, #1B1B1B);
}

.darkSectionDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 40%;
}

.aboutSection {
  background-color: #2B2A2A;
  padding: 6rem 4rem;
  display: flex;
  gap: 60px;
}

.aboutSection h3 {
  font-size: 20px;
  color: #808080;
  flex-basis: 30%;
}

.aboutSection .contentWrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 40px;
}

.aboutNumber {
  font-size: 110px;
  font-weight: 800;
  color: #C6C6C6;
}

.aboutDesc {
  font-size: 20px;
  font-weight: 300;
  color: #707070;
  text-align: center;
}

.carousellSection {
  padding: 6rem 4rem;
}

.carousell {
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
}

.carousellSlider {
  display: flex;
  justify-content: center;
}

.carousel-item-padding-40-px {
  display: flex;
  justify-items: center;
  align-items: center;
}

.carousellCard {
  border: 0.5px solid #8a8a8a62;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 415px;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 0px 6px 20.600000381469727px 0px rgba(0, 0, 0, 25%);
}

.carousellCard h3 {
  font-size: 40px;
  font-weight: 800;
  color: #414040;
  margin: 1rem;
}

.carousellCard p {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
}

.contactSection {
  background-color: #2B2A2A;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.contactSection div {
  flex-basis: 40%;
}

.contactSection h3 {
  line-height: unset;
  color: #808080;
  font-size: 30px;
}

.contactSection .btn {
  color: #898989;
  border-color: #666666;
  padding: 2rem 6rem;
}

.promoTop {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoTopHeadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.promoTopHeading {
  color: #3e3e3e;
  font-size: 65px;
  letter-spacing: -3px;
}

.promoSection {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoSection h2 {
  font-weight: 700;
}

/* DETAILS PAGE */

.detailsHero h1 {
  color: #2B2A2A;
  text-align: center;
  margin-top: 0px;
}

.contentWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 15%;
}

.contentRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentRight h3 {
  color: #727171;
}

.availability {
  position: absolute;
  top: 2%;
  right: 30%;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.colorVariantsWrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: -25%;
}

.color-circle-container {
  position: relative;
  display: inline-block;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.colorTooltip {
  position: absolute;
  bottom: -35px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 1;
}

.shareBtnsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.shareIconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.shareIcon {
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shareIcon:hover {
  transform: scale(1.2);
}

.headOnSection {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #3e3e3e3f;
  border-bottom: 1px solid #3e3e3e3f;
  padding: 6rem 0;
}

.headOnTop {
  display: flex;
  justify-content: center;
  align-items: start;
}

.headOnTopDesc {
  flex-basis: 40%;
}

.headOnTop h3 {
  margin-bottom: 0;
}

.headOnTopDescriptionParagraph {
  font-size: 18px;
  color: #808080;
  text-align: center;
}

.headOnBottom {
  text-align: center;
}

.headOnBottomTitle {
  font-size: 80px;
  letter-spacing: -7px;
  font-weight: 700;
  color: #2B2A2A;
  line-height: 60px !important;
  display: block;
  margin-bottom: 2rem;
}

.headOnBottomParagraph {
  width: 50%;
  margin: 4rem auto;
}

.sideSection {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 0;
}

.sideTopDescWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 4rem;
}

.sideTopDescWrapper img {
  flex-basis: 50%;
}

.sideTopDescWrapperRightSide {
  flex-basis: 60%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sideDescriptionTop {
  width: 90%;
  margin: 0 auto;
}

.zeroGrav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.zeroGravTitles {
  width: 60%;
  margin: 0 auto;
}

.zeroGravParagraph {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
}

/* SPECS */

.specsSection {
  background-color: #1b1b1b;
  padding: 6rem 0;
}

.specsSection h3 {
  color: #D9D9D9;
  width: 60%;
  margin: 2rem auto;
}

.specsTable {
  width: 60%;
  margin: 0 auto;
}

.btnWrapper {
  display: flex;
  background-color: #D9D9D9;
  color: #1B1B1B;
}

.tableBtn {
  flex-basis: 33.333%;
  padding: 1rem;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tableBtn:hover {
  background-color: #bebebe;
}

.tableBtn:nth-child(2) {
  border-right: 1px solid #3e3e3e38;
  border-left: 1px solid #3e3e3e38;

}

.specsTableContent {
  background-color: #2B2A2A;
  padding: 1rem;
  color: #BABABA;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 420px;
}

.specsTableContent h6 {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.tableContentParagraph {
  color: #AEAAAA;
  font-size: 20px;
}

.funcitonsListing {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style-type: disc;
  list-style-position: inside;
  row-gap: 10px;
}

.funcitonsListing li {
  flex-basis: 33.333%;
  color: #AEAAAA;
  font-size: 20px;
}

.funcitonsListing li:last-child {
  flex-basis: auto;
}

.socialIconLister {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 2rem;
}

.modal {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.innerModal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  position: relative;
}

.modalBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  align-self: flex-end;
  background-color: #fa6767;
  border-left: 1px solid #2b2a2a39;
  border-bottom: 1px solid #2b2a2a39;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
}

.modalTitle {
  text-align: center;
  margin-bottom: 1rem;
}

.modalMessageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: 20px;
}

.form {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border: 1px solid #3f3f3f2e;
  border-radius: 3px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin: 0 auto;
  gap: 5px;
  margin-bottom: 12px;
}

.basicInputStyles {
  font-weight: 300;

  border: 1px solid #3f3f3f2e;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  width: 100%;
  padding: 0.3rem;
}


.formBtn {
  background-color: #08c75b;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #3e3e3e36;
  border-radius: 3px;
  color: white;
}

@media only screen and (max-width: 1530px) {


  .lightSection,
  .darkSection {
    gap: 50px;
  }

  .productImage {
    width: 500px;
  }

  .carousellSection {
    padding: 2rem 0;
  }

  .carousell {
    width: 100%;
  }

  .contentRight h3 {
    line-height: 21px;
    text-align: center;
  }

  .headOnSection {
    width: 90%;
    padding: 4rem 0;
  }

  .headOnTop {
    margin-bottom: 2rem;
  }

  .headOnImage {
    width: 400px;
  }

  .headOnTopDesc {
    flex-basis: 70%;
  }


  .headOnTopDescriptionParagraph {
    font-size: 18px;
    color: #808080;
    text-align: center;
  }

  .sideTitle {
    font-size: 55px;
    letter-spacing: -4px;
  }

  .sideDescriptionTop {
    width: 90%;
  }
}



@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 80px;
  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 15px;
  }

  .hero {
    padding: 8rem;
  }

  .heroSubtitle {
    width: 60%;
  }

  .sideTitle {
    font-size: 70px;
  }

}

@media only screen and (max-width: 950px) {

  h2 {
    font-size: 70px;
    margin-bottom: 0.5rem;

  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 15px;
  }

  .lightSection,
  .darkSection {
    gap: 20px;
  }

  .productImage {
    width: 400px;
  }

  .carousellSection {
    padding: 2rem 0;
  }

  .carousell {
    width: 100%;
  }

  .contactSection {
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .detailsHero .contentWrapper {
    width: 95%;
    margin: 0 auto;
    gap: 10%;
  }

  .detailsHeroImage {
    margin-bottom: 2rem;
    width: 400px;
  }

  .headOnSection {
    width: 90%;
    padding: 4rem 0;

  }

  .headOnTop {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .headOnTopDesc {
    text-align: center;
  }

  .headOnBottomTitle {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 28px !important;
    margin-bottom: 2rem;
  }

  .headOnBottomParagraph {
    width: 90%;
    margin: 2rem auto;
  }

  .sideSection {
    width: 90%;
    padding: 4rem 0;
    text-align: center;
  }

  .sideTopDescWrapper {
    flex-direction: column;
    align-items: center;
  }

  .sideTopDescWrapperRightSide {
    padding: 0.5rem 0 1rem;
  }

  .zeroGrav {
    width: 90%;
    margin-bottom: 4rem;
  }

  .zeroGravParagraph {
    width: 100%;
  }

  .specsTable {
    width: 90%;
  }

  .specsSection {
    padding: 2rem 0;
  }

  .specsSection h3 {
    width: 90%;
    text-align: left;
  }
}


@media only screen and (max-width: 768px) {

  h1 {
    font-size: 60px;
  }

  .heroTitle {
    font-size: 40px;
  }

  .heroSubtitle {
    font-size: 14px !important;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 0;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 13px;
  }


  .hero {
    padding: 3rem;
    height: 80vh;
  }

  .heroSubtitle {
    width: 60%;
    font-size: 20px;
  }

  .dropdownBtnWrapper {
    display: none;
  }

  .mobileNav {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MOBILE MENU */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: visibility 0s, opacity 0.4s ease, transform 0.4s ease;
    z-index: 999;
  }

  .mobile-menu.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .menu-items {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu-items li {
    margin: 1rem 0;
  }

  .menu-items li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: color 0.3s ease;
  }

  .menu-items li button {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: color 0.3s ease;
  }

  .menu-items li a:hover {
    color: #616161;
  }

  .lightSection,
  .darkSection {
    gap: 0px;
    padding: 2rem;
    height: auto;
  }

  .productImage {
    width: 280px;
  }

  .promoTop {
    gap: 20px
  }

  .promoTopHeadingWrapper {
    flex-direction: column;
    gap: 3px;
  }

  .promoTopHeading {
    font-size: 40px;
    line-height: 25px;
  }

  .aboutSection {
    padding: 2rem;
    flex-direction: column;
    gap: 10px;
  }

  .aboutSection h3 {
    font-size: 25px;
    color: #808080;
    flex-basis: 80%;
  }

  .aboutSection .contentWrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .aboutNumber {
    font-size: 90px;
  }

  .aboutDesc {
    font-size: 18px;
  }

  .carousellSection {
    padding: 2rem 0;
  }

  .carousell {
    width: 100%;
  }

  .detailsHero {
    margin-top: 0;
  }

  .availability {
    right: 5%;
    font-size: 15px;
  }

  .colorVariantsWrapper{
    bottom: 30%;
    right: 5%;
  }

  .detailsHero .contentWrapper {
    width: 95%;
    margin: 0 auto;
    gap: 10%;
  }

  .detailsHeroImage {
    margin-bottom: 2rem;
    width: 400px;
  }

  .headOnSection {
    width: 90%;
    padding: 2rem 0;
  }

  .navigationDesktop {
    display: none;
  }

  .prenav {
    justify-content: space-between;
  }

  .prenav .phoneNum {
    font-size: 12px;
  }

  .prenav .socialIconsPrenav {
    width: 20px;
  }

  .mobileLogo {
    display: block;
  }
}



@media only screen and (max-width: 520px) {

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 45px;
    letter-spacing: 0px;

  }

  h3 {
    font-size: 18px;
  }

  .btn {
    padding: 0.8rem 3.4rem;
  }

  .lightSection {
    flex-direction: column;
  }

  .hero {
    padding: 2rem;
  }

  .heroContentWrapper {
    text-align: center;
  }

  .colorVariantsWrapper{
    bottom: 3%;
    right: 5%;
  }

  .heroSubtitle {
    width: 100%;
    font-size: 16px;
    color: #E8E8E8;
  }

  .lightSection,
  .darkSection {
    flex-direction: column;
    gap: 0px;
    padding: 2rem 0;
    height: auto;
  }

  .lightSection .productImage {
    order: 1;
  }

  .productImage {
    width: 350px;
  }

  .aboutSection .contentWrapper {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }

  .carousellSection {
    padding: 2rem 0;
  }

  .carousell {
    width: 100%;
  }

  .topFooter,
  .bottomFooterLeftSide {
    flex-direction: column;
  }

  .bottomFooter {
    align-items: end;
  }

  .bottomFooterLeftSide {
    align-items: start;
    gap: 5px;
  }

  .detailsHero {
    margin-top: 0;
  }

  .detailsHero .contentWrapper {
    width: 95%;
    margin: 0 auto;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detailsHeroImage {
    margin-bottom: 2rem;
    width: 400px;
  }

  .headOnSection {
    width: 90%;
    padding: 2rem 0;

  }

  .headOnTop {
    flex-direction: column;
    gap: 30px;
  }

  .headOnBottomTitle {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 28px !important;
    margin-bottom: 2rem;
  }

  .headOnBottomParagraph {
    width: 90%;
    margin: 2rem auto;
  }

  .sideSection {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .sideTitle {
    font-size: 40px;
    text-align: center;
    letter-spacing: -2px;
    line-height: 32px;
    margin-top: 0;
  }

  .sideTopDescWrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .sideTopDescWrapperRightSide {
    flex-basis: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sideDescriptionTop {
    width: 100%;
    margin: 0 auto;
  }

  .dropdownContentCont {
    width: 100vw;
    top: 2px;
    right: -3px;
  }

  .btnWrapper {
    flex-direction: column;
  }

  .tableBtn:nth-child(2) {
    border-right: none;
    border-left: none;
    border-top: 1px solid #3e3e3e38;
    border-bottom: 1px solid #3e3e3e38;
  }

  .funcitonsListing li {
    flex-basis: 100%;
  }

  .react-multi-carousel-arrow {
    display: none;
  }
}