@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F8F8F8;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 120px;
  color: #E8E8E8;
  font-weight: 700;
  letter-spacing: -30;
}

h2 {
  font-size: 100px;
  letter-spacing: -7px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.6px;
  font-weight: 700;
  line-height: 1.2px;
  margin-bottom: 2rem;
}

.description {
  font-size: 22px
}

.small-desc {
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  font-weight: 300;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 1.2rem 3.8rem;
  border-width: 0.5px;
  border-style: solid;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(211, 211, 211, 0.26);
}

li {
  margin-bottom: 0;
}

ul {
  margin-bottom: 2rem;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  
}

.prenav {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  
}

header .phoneNum span {
  font-weight: 800;
}

.socialWrapper{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.socialIconsPrenav:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  color: #ebebeb;
}

.dropdownBtnWrapper{
  position: relative;
  overflow: visible;
}

.dropdownContentCont{
  position: absolute;
  top: 26px;
  left: 0;
  width: 100px;
  color: #2B2A2A;
  background-color: #fefefe;
}

.dropdownContentCont li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.dropdownContentCont a {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.dropdownContentCont a:hover {
  transform: scale(1.1);

}

footer {
  background-color: #2B2A2A;
  color: #F8F8F8;
  padding: 1rem 0;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e8e8e82e;
  padding: 0.5rem 1rem 0;
}

.bottomFooterLeftSide {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.topFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.topFooter h3 {
  color: #dcdcdc;
  margin-bottom: 0.5rem;
}

.topFooter p {
  color: #727171;
}

.footerBtn{
  background-color: #f9f9f9;
  color: #2B2A2A;
}

.footerBtn:hover {
  border-color: #f9f9f9;
  color: #f9f9f9;
}

.hero {
  background-image: url('../public/back3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  padding: 0 12%;
  position: relative;
  display: flex;
  align-items: center;
}

.heroSubtitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: #b9b9b9;
  letter-spacing: -1
}

.lightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 100vh;
}

.lightSectionDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
  /* Allow clicks to pass through */
}

.darkSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  height: 100vh;
  background: radial-gradient(circle at 70%, #4A494A, #1B1B1B);
}

.darkSectionDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 40%;
}

.aboutSection {
  background-color: #2B2A2A;
  padding: 6rem 4rem;
  display: flex;
  gap: 60px;
}

.aboutSection h3 {
  font-size: 20px;
  color: #808080;
  flex-basis: 80%;
}

.aboutSection .contentWrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 40px;
}

.aboutNumber {
  font-size: 110px;
  font-weight: 800;
  color: #C6C6C6;
}

.aboutDesc{
  font-size: 20px;
  font-weight: 300;
  color: #707070;
}

.carousellSection {
  padding: 6rem 4rem;
}

.carousell {
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
}

.carousellSlider{
  display: flex;
  justify-content: center;
}

.carousel-item-padding-40-px{
  display: flex;
  justify-items: center;
  align-items: center;
}

.carousellCard{
  border: 0.5px solid #8a8a8a62;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 0px 6px 20.600000381469727px 0px rgba(0, 0, 0, 25%);
}

.carousellCard h3 {
  font-size: 40px;
  font-weight: 800;
  color: #414040;
  margin: 1rem;
}

.carousellCard p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
}

.contactSection{
  background-color: #2B2A2A;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.contactSection div{
  flex-basis: 40%;
}  

.contactSection h3{
  line-height: unset;
  color: #808080;
  font-size: 30px;
}

.contactSection .btn {
  color: #898989;
  border-color: #666666;
  padding: 2rem 6rem ;
}

.promoSection {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promoSection h2 {
  font-weight: 700;
}

@media only screen and (max-width: 1530px) {
  

  .lightSection,
  .darkSection {
    gap: 50px;
  }

  .productImage {
    width: 500px;
  }

  .carousellSection {
    padding: 2rem 0;
  }
  .carousell {
    width: 100%;
  }
}



@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 80px;
  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 15px;
  }

  .hero {
    padding: 8rem;
  }

  .heroSubtitle {
    width: 60%;
  }


  
}

@media only screen and (max-width: 950px) {

  h2 {
    font-size: 70px;
    margin-bottom: 0.5rem;

  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 15px;
  }

  .lightSection,
  .darkSection {
    gap: 20px;
  }

  .productImage {
    width: 400px;
  }

  .carousellSection {
    padding: 2rem 0;
  }
  
  .carousell {
    width: 100%;
  }

  .contactSection{
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}


@media only screen and (max-width: 768px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 0;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 20px
  }

  .small-desc {
    font-size: 13px;
  }


  .hero {
    padding: 4rem;
    height: 65vh;
  }

  .heroSubtitle {
    width: 60%;
    font-size: 20px;
  }

  .lightSection,
  .darkSection {
    gap: 0px;
    /* height: 100vh; */
    padding: 2rem;
    height: auto;
  }

  /* .lightSection .productImage{
    order: 2;
  } */

  .productImage {
    width: 280px;
  }

  .aboutSection {
    padding: 2rem;
    flex-direction: column;
    gap: 10px;
  }
  
  .aboutSection h3 {
    font-size: 25px;
    color: #808080;
    flex-basis: 80%;
  }
  
  .aboutSection .contentWrapper {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
  
  .aboutNumber {
    font-size: 90px;
  }
  
  .aboutDesc{
    font-size: 18px;
  }

  .carousellSection {
    padding: 2rem 0;
  }
  
  .carousell {
    width: 100%;
  }
}



@media only screen and (max-width: 520px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 45px;
    letter-spacing: 0px;

  }

  .btn {
    padding: 0.8rem 3.4rem;
  }

  .lightSection {
    flex-direction: column;
  }

  .hero {
    padding: 2rem;
  }

  .heroContentWrapper {
    text-align: center;
  }

  .heroSubtitle {
    width: 100%;
    font-size: 16px;
    color: #E8E8E8;
  }

  .lightSection,
  .darkSection {
    flex-direction: column;
    gap: 0px;
    padding: 2rem 0;
    height: auto;
  }

  .lightSection .productImage {
    order: 1;
  }

  .productImage {
    width: 350px;
  }
  
  .aboutSection .contentWrapper {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }

  .carousellSection {
    padding: 2rem 0;
  }
  
  .carousell {
    width: 100%;
  }

  .topFooter, .bottomFooterLeftSide {
    flex-direction: column;
  }

  .bottomFooter{
    align-items: end;
  }

  .bottomFooterLeftSide{
    align-items: start;
    gap: 5px;
  }
}